body {
	font: 100% Arial;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
}

.control-label {
  margin: 0;
  padding: 0; 
  font-size: 15px;
}

#header {
  padding: 0 10px 0 20px;
  background: #960000; 
}

#header h1 {
  margin: 0; 
  padding: 10px 0; 
  color: #ffffff;
}

#controlSection {
  background: #e7adad; 
}

#footer {
	padding: 0 10px;
  background: #960000; 
}

#footer h2 {
  margin: 0; 
  padding: 10px 0; 
  color: #ffffff;
}

#footer p {
  color: #ffffff;
  margin: 0;
  padding: 10px 0; 
}

#footer a {
  color: #ffffff;
}

td {
  vertical-align: middle;
}
